/* Body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
  }
  
  header nav {
    display: flex;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  header nav a:hover {
    color: #feda4a;
  }
  
  /* Main Content */
  #main-content {
    padding: 20px;
  }
  
  /* Character/Film Cards */
  .card {
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .card h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  /* Footer */
  footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    font-size: 16px;
  }
  
  footer p {
    margin: 0;
  }

  .card {
    background-color: #1b1b1b;
    background-image: url('https://media.contentapi.ea.com/content/dam/star-wars-battlefront-2/images/2019/08/swbf2-refresh-hero-large-heroes-page-luke-skywalker-16x9-xl.jpg.adapt.crop1x1.320w.jpg');
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  